<html lang="en">
    <head>
        <title>display</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body background ="#e6ffee">
        <div class="one">
            <div class="two">
                <h1>Options</h1>
                <ul>
                    <li><a href="{{url_for('index')}}">Index</a></li>
                    <li class="active"><a href="{{url_for('display')}}">Display</a></li>
                    <li><a href="{{url_for('fees')}}">Fees</a></li>
                    <li><a href="{{url_for('logout')}}">Log out</a></li>
                </ul> 
            </div>
            <div class="content" align="center">
                <div class="topbar">
                    <h2>PSG Tech Fees Portal</h2>                        
                </div>  </br>
                <div class="contentbar">
                    <h1>Your Details</h1>    </br>
                     {% block content %}
                        <div class="border">
                            <table class="worddark"></br></br></br></br>
                                <tr>
                                    <td>Fees amount:</td>
                                    <td>{{ account[1] }}</td>
                                </tr>
                                <tr>
                                    <td>Fees status:</td>
                                    <td>{{ account[2] }}</td>
                                </tr>                   
                            </table>
                        </div>
                    {% endblock %}                                           
                </div>
                  
            </div>
        </div>
    </body>
</html>