<!DOCTYPE html>
<html>
<head>
<title>PSG College of Technology</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('/static/images/home.jpeg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

#div1 {
  position: relative;
  background-position: center;
  width: 500px;
  height: 100px;
}

#div2 {
  position: relative;
  background-position: center;
  width: 400px;
  height: 60px;
}
</style>
</head>
<body>

<div class="bgimg w3-display-container w3-animate-opacity">
  
  <div class="w3-display-middle" >
    <h1 class=" w3-display-middle w3-text-black w3-center" style="font-size: 3rem" id="div1"><b></b>PSG College of Technology</b></h1>
    <p class="w3-xxlarge w3-center w3-display-bottommiddle w3-text-black" style="font-size:1.875em" id="div2">Fees Payment Portal</p>
  </div>
  <div class="w3-display-topright w3-padding-large">
    <button class="w3-button w3-black"><a href="login" target="_blank" style="color: white;">Login</a></button>
    <button class="w3-button w3-black"><a href="register" target="_blank" style="color: white;">Sign Up</a></button>
  </div>
</div>

</body>
</html>
