<html lang="en">
    <head>
        <title>index</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
  
    <body background ="#e6ffee">
        <div class="one">
            <div class="two">
                <h1>Options</h1>
                <ul>
                    <li class="active"><a href="{{url_for('index')}}">Index</a></li>
                    <li><a href="{{url_for('display')}}">Display</a></li>
                    <li><a href="{{url_for('fees')}}">Fees</a></li>
                    <li><a href="{{url_for('logout')}}">Log out</a></li>
                </ul> 
            </div>
            <div class="content" align="center">
                <div class="topbar">
                    <h2>PSG Tech Fees Portal</h2>                                              
                </div></br></br>
                <div class="contentbar">
                     <form action="{{ url_for('index')}}" method="post" autocomplete="off">
                     <div class="msg">{{ msg }}</div><br/>
                     <input type="submit" class="btn" value="Pay the fees">
                     </form></br></br>                    
                </div>  
                  
            </div>
        </div>
    </body>
</html>