<html>
    <head>
        <meta charset="UTF-8">
        <title> Login </title>
        <link rel="stylesheet" href="../static/style.css">       
        
          
        <style>
            .bgimg {
              background-image: url('/static/images/home.jpeg');
              height: 100%;
              width: 100%;
              background-position: center;
              background-size: cover;
            }
            
        </style>
    </head>
    <body>
        <div class="bgimg w3-display-container w3-animate-opacity">
            <div class="logincontent" align="center" style="padding-top: 5rem;">
                <div class="logintop">
                    <h1>Login</h1>
                </div></br></br></br></br>
                <div class="loginbottom">
                <form action="{{ url_for('login')}}" method="post" autocomplete="off">
                    <div class="msg">{{ msg }}</div><br/>
                    <input type="text" name="rollno" style="color: white;" placeholder="Enter Your Rollno" class="textbox" id="rollno" required></br></br>
                    <input type="password" name="password" style="color: white;" placeholder="Enter Your Password" class="textbox" id="password" required></br></br></br>
                    <input type="submit" class="btn" value="Login">
                </form></br></br>
                <p class="worddark">If not <a class="worddark" style="color: red;" href="{{ url_for('register')}}">Register here</a></p>
                </div>
            </div>
        </div>
    </body>
</html>